.Home_Section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0f0f0f;

    & img {
        width: 90vw;
        margin: 30px 0px;
    }
}

.Home_Section1_carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #b7ff06;

    width: 100%;
    height: 25px;

    & img {
        width: auto;
        height: 15px;
    }
}