.Home_Section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
    
    background-color: #0f0f0f;

    width: 100%;

    & h4 {
        color: aliceblue;
    }
}

.Home_Section6_localizacao_cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.Home_Section6_localizacao_cards_Palestras {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    width: 35%;
    padding: 20px;

    background-color: #b7ff06;

    & img {
        width: 100%;
    }
}

.Home_Section6_localizacao_cards_Tutoriais,
.Home_Section6_localizacao_cards_Sprints {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    width: 35%;
    padding: 20px;

    background-color: #b7ff06;

    & img {
        width: 100%;
    }
}

.Home_Section6_barra_verde {
    width: 100%;
    height: 7px;
    align-self: baseline;
    background-color: #b7ff06;
}