.Home_Section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    /* height: 700px; */
    height: 83vh;
    /* border: 2px red solid; */
}

.Home_Section2_parte_esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 50%;
    /* border: 2px red solid; */

    & img {
        width: 100%;
        height: 83vh;
        object-fit: cover;
    }
}

.Home_Section2_parte_direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    background-color: #e8f4ba;

    position: relative;

    width: 50%;
    height: 83vh;
    /* border: 2px red solid; */
}

.Home_Section2_parte_direita_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: left;

    /* font-size: 30px; */
    font-size: clamp(5px, 2rem, 30px);
    z-index: 2;

    & p {
        width: 70%;

        & span {
            color: #c95fb4;
        }
    }
}

.Home_Section2_parte_direita_cobrinhas {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    /* TESTANDO COM POSITION */
    position: absolute;
    z-index: 0;
    bottom: 0px;


    width: 100%;
    /* border: 2px red solid; */

    & img {
        width: 30%;
    }
}