.Home_Section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0f0f0f;

    & img {
        width: 90vw;
        margin: 30px 0px 60px 0px;
    }
}