.Home_Section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0f0f0f;

    & img {
        width: 90vw;
        margin: 30px 0px 60px 0px;
    }
}

.hero_mobile {
    display: none;
}

@media (max-width : 1000px) {
    .hero_desktop {
        display: none;
    }
    .hero_mobile {
        display: flex;
    }

    .Home_Section1{
        & img {
            width: 90vw;
            margin: 0px 0px 50px 0px;
        }
    }
}