.Home_Section6 {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
    
    background-color: #0f0f0f;

    width: 100%;

    & h4 {
        color: aliceblue;
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 600;
    }

    & button {
        font-family: "Inter", sans-serif;
    }
}

.Home_Section6_localizacao_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
    justify-content: center;

    width: 90%;
    max-width: 1400px;

    /* border: 2px red solid; */
}

.Home_Section6_localizacao_cards_Palestras {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    min-width: 400px;
    width: 28%;
    max-width: 400px;
    padding: 30px 25px;

    background-color: #b7ff06;

    & img {
        width: 100%;
    }

    & h6 {
        font-weight: 350;
        font-size: 14px;
        color: aliceblue;
        padding: 8px 20px;
        background-color: #0f0f0f;
        border-radius: 60px;
        margin-bottom: 10px;
    }

    & h5 {
        font-family: "Cascadia Mono", sans-serif;
        font-weight: 600;
        font-size: 24px;
    }

    & .Home_Section6_localizacao_cards_Palestras_data {
        font-weight: 550;
        font-size: 14px;
        margin-bottom: 5px;
    }

    & p {
        margin-top: 5px;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
    }

    & .Home_Section6_localizacao_cards_Palestras_buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    & button {
        cursor: pointer;
        padding: 8px 18px;
        border: 1px #0f0f0f solid;
        border-radius: 60px;
        background-color: #0f0f0f00;
    }
}

.Home_Section6_localizacao_cards_Tutoriais,
.Home_Section6_localizacao_cards_Sprints {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    width: 35%;
    max-width: 340px;
    padding: 20px;

    background-color: #b7ff06;

    & img {
        width: 100%;
    }

    & h6 {
        font-weight: 350;
        font-size: 14px;
        color: aliceblue;
        padding: 8px 20px;
        background-color: #0f0f0f;
        border-radius: 60px;
        margin-bottom: 10px;
    }

    & h5 {
        font-family: "Cascadia Mono", sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
}

.Home_Section6_barra_verde {
    width: 100%;
    height: 7px;
    align-self: baseline;
    background-color: #b7ff06;
}