.Home_Section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;

    background-color: #0f0f0f;
}

.Home_Section5_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 90%;

    & img {
        height: 400px;
    }
}

.Home_Section5_itens_texto {
    font-family: "Cascadia Mono", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    width: 40%;

    color: aliceblue;

    & h4 {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 370;
        color: greenyellow;
    }

    & a {
        margin-top: 30px;
    }
}

.Home_Section5_itens_texto_p {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 80%;
    max-width: 500px;
    

    font-size: 16px;
    font-weight: 200;
}

.Home_Section5_itens_texto button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 60px;
    background-color: greenyellow;
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width : 1000px) {
    .Home_Section5_itens {
        flex-direction: column;
        gap: 50px;
        width: 80%;
        /* border: 2px red solid; */

        & img {
            width: 100%;
            height: auto;
        }
    }

    .Home_Section5_itens_texto {
        width: 100%;

        & h4 {
            margin-bottom: 30px;
        }

        & a {
            margin-top: 40px;
        }
    }

    .Home_Section5_itens_texto_p {
        gap: 25px;

        width: 100%;
        max-width: 500px;
    }

    .Home_Section5_itens_texto button {
        padding: 0;
        height: 60px;
        width: 80vw;
    }
}