.Home_Section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0f0f0f;
}

.Home_Section5_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 70px 0px;

    & img {
        height: 400px;
    }
}

.Home_Section5_itens_texto {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    width: 40%;

    color: aliceblue;

    & h4 {
        margin-bottom: 15px;
    }

    & a {
        margin-top: 30px;
    }
}

.Home_Section5_itens_texto_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 70%;
}

.Home_Section5_carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #b7ff06;

    width: 100%;
    height: 25px;

    & img {
        width: auto;
        height: 15px;
    }
}