.Home_Section6 {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0px;
    
    background-color: #0f0f0f;

    width: 100%;

    & h4 {
        color: aliceblue;
        margin-bottom: 40px;
    }

    & button {
        font-family: "Inter", sans-serif;
    }
}

.Home_Section6_localizacao_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
    justify-content: center;

    width: 90%;
    max-width: 1400px;

    /* border: 2px red solid; */
}

.Home_Section6_localizacao_cards_Palestras {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    width: 35%;
    max-width: 340px;
    padding: 20px;

    background-color: #b7ff06;

    & img {
        width: 100%;
    }

    & h5 {
        font-family: "Cascadia Mono", sans-serif;
    }
}

.Home_Section6_localizacao_cards_Tutoriais,
.Home_Section6_localizacao_cards_Sprints {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    width: 35%;
    max-width: 340px;
    padding: 20px;

    background-color: #b7ff06;

    & img {
        width: 100%;
    }
}

.Home_Section6_barra_verde {
    width: 100%;
    height: 7px;
    align-self: baseline;
    background-color: #b7ff06;
}