.ButtonPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    position: fixed;
    bottom: 15px;
}

.ButtonPrincipal_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;

    border: 2px red solid;

    background-color: aliceblue;
    padding: 20px 40px;
    border-radius: 60px;

    & h4 {
        border: 2px red solid;
        width: auto;
        padding: 10px 25px;
    }
}