.ButtonPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    position: fixed;
    z-index: 50;
    bottom: 15px;
}

.ButtonPrincipal_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 10px;

    border: 2px #E8F4BA solid;
    background-color: #0F0F0F;

    padding: 10px 10px;
    border-radius: 60px;

    & h4 {
        cursor: pointer;
        font-family: "Inter", sans-serif;
        background-color: #E8F4BA;
        width: auto;
        padding: 15px 20px;
        border-radius: 60px;
        font-weight: 450;
    }
}