.Footer {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-bottom: 80px;

    font-family: "Inter", sans-serif;
    background-color: #0f0f0f;
}

.Footer_barra_verde {
    width: 100%;
    height: 7px;
    align-self: baseline;
    background-color: #b7ff06;
    margin-bottom: 50px;
}

.Footer_logo {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.Footer_links {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;

    gap: 10px;
    height: auto;
    width: 100%;
}

.Footer_links_site,
.Footer_links_nossas_redes,
.Footer_links_da_apyb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    
    & h4 {
        font-family: "Cascadia Mono", sans-serif;
        margin-bottom: 15px;
        color: greenyellow;
    }

    & li {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & ul {
        color: aliceblue;
    }
}

.Footer_links_botoes_politicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 240px;
    color: aliceblue;

    & .Footer_links_botoes_politicas_buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;

        & button {
            font-family: "Inter", sans-serif;
        }
    }
}