.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: 2px red solid;
}

.Header_menu {
    & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.Header_logo {
    width: 50px;
    height: 30px;
    background-color: blue;
}

.Header_linguagem {
    & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}