.Header {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 35px 0px;
    gap: 20px;
    margin-bottom: -5px;

    background-color: #0f0f0f;
    color: aliceblue;

    /* border: 2px red solid; */
}

.Header_itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1440px;
    /* border: 2px red solid; */
}

.Header_menu_esquerdo {
    & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    & ul {
        cursor: pointer;
        & h4 {
            font-weight: 300;
        }
        & img {
            margin-bottom: 2px;
        }
    }
}

.Header_logo {
    & img {
        width: auto;
        height: auto;
    }
}

.Header_menu_direito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Header_linguagem {
    & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    & ul:hover {
        cursor: pointer;
        color: greenyellow;
    }
}

.Header_menu_direito button {
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 60px;
    background-color: greenyellow;
    border: none;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
}