.Menu {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #E8F4BA;
    color: black;
    z-index: 10;

    transform: translateX(-30%);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.Menu_itens{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.Menu_itens_botoes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 85%;
    height: 80%;
    /* border: 2px red solid; */
}

.Menu_itens_botoes_linha1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    & .Menu_itens_botoes_linha1_fechar {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }
}

.Menu_itens_botoes_linha2 {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 32px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    height: 45%;

    & a {
        text-decoration: none;
        color: black;
    }
}

.Menu_itens_botoes_linha3 {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;

    height: auto;
    width: 40%;
    gap: 30px;

    & a {
        text-decoration: none;
        color: black;
    }

    & button {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        padding: 20px 30px;
        border-radius: 60px;
        background-color: greenyellow;
        border: black 1px solid;
    }
}

.Menu_itens_surfista{
    width: 55%;
    max-height: 800px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.Menu.aberto {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}
