.Menu {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #E8F4BA;
    color: black;
    z-index: 10;

    transform: translateX(-30%);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.Menu_itens{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    /* border: 2px red solid; */
}

.Menu_itens_botoes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 85%;
    height: 90%;
    max-height: 700px;
    /* border: 2px red solid; */
}

.Menu_itens_botoes_linha1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    & .Menu_itens_botoes_linha1_fechar {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        z-index: 20;
    }
}

.Menu_itens_botoes_linha2 {
    font-family: "Cascadia Mono", sans-serif;
    font-size: 32px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    height: 55%;

    & a {
        text-decoration: none;
        color: black;
    }
}

.Menu_itens_botoes_linha3 {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;

    height: 65px;
    width: 50%;
    z-index: 20;
    gap: 30px;

    & a {
        text-decoration: none;
        color: black;
    }

    & button {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        padding: 20px 30px;
        border-radius: 60px;
        background-color: greenyellow;
        border: black 1px solid;
    }
}

.Menu_itens_surfista{
    width: 55%;
    max-height: 800px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.Menu_itens_surfista_menu_mobile {
    display: none;
}

.Menu.aberto {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}

@media (max-width : 800px) {
    .menu_desktop {
        display: none;
    }

    .Menu_itens{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
        

        /* border: 2px red solid; */
    }

    .Menu_itens_botoes {
        width: 90%;
        height: 85%;
        max-height: 400px;
        justify-content: space-between;
        /* border: 2px red solid; */
    }

    .Menu_itens_botoes_linha1 {
        align-items: start;

        width: 100%;

        & .Menu_itens_botoes_linha1_fechar {
            & img {
                width: 40%;
            }
        }

        & img {
            width: 70%;
        }
    }

    .Menu_itens_botoes_linha2 {
        font-size: 32px;
        height: 50%;
        gap: 1px;

        & a {
            font-size: 16px;
        }
    }

    .Menu_itens_botoes_linha3 {
        display: flex;
        flex-wrap: unset;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        height: 25%;
        width: 100%;
        z-index: 20;
        gap: 5px;
    
        & button {
            font-family: "Inter", sans-serif;
            font-size: 16px;
            padding: 0px;
            width: 90vw;
            height: 40px;
            border-radius: 60px;
            background-color: greenyellow;
            border: black 1px solid;
        }
    }

    /* .Menu_itens_surfista_menu_mobile { */
        /* display: flex; */
        /* width: 100vw; */
        /* margin-top: 40px; */
        /* max-height: 100px; */
    /* } */
}