.Home_Section3 {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    /* border: 2px red solid; */

    background-color: #0f0f0f;
}

.Home_Section3_carrossel_keynotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 80px;
    padding: 40px 0px;

    background-color: greenyellow;
    width: 80%;
    max-width: 1000px;

    & h4 {
        margin: 20px 0px;
        font-size: 24px;
    }
}

.Home_Sectine3_carrossel_card_keynote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;

    background-color: #0f0f0f;
    padding: 30px 50px;
    height: auto;
    width: 100%;
    max-width: 700px;
}

.Home_Section3_carrossel_card_keynote_parte_esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 280px;
    height: 280px;
    /* border: 2px red solid; */

    & li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & img {
            width: 35px;
        }
    }

    & img {
        width: 200px;
    }
}

.Home_Section3_carrossel_card_keynote_parte_direita {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-align: left;
    min-height: 280px;
    height: auto;
    /* border: 2px red solid; */

    color: aliceblue;

    & h4 {
        margin: 0px 0px 10px 0px;
        font-weight: 600;
    }

    & p {
        font-weight: 200;
        width: 23vw;
        max-width: 330px;
    }
}

.Home_Section3_carrossel_foto_selecao_keynote {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}

@media (max-width : 1000px) {
    .Home_Section3_carrossel_keynotes {
        gap: 20px;
        margin: 80px;
        padding: 25px 0px;
        width: 90%;
    }

    .Home_Sectine3_carrossel_card_keynote {
        flex-direction: column;
        gap: 25px;
        padding: 18px 18px 5px 18px;
        height: auto;
        width: 100%;
        max-width: 335px;
    }

    .Home_Section3_carrossel_card_keynote_parte_esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: auto;
        height: auto;
        gap: 20px;

        & li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        & img {
            width: 100%;
        }
    }

    .Home_Section3_carrossel_card_keynote_parte_direita {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        text-align: left;
        min-height: 280px;
        height: auto;
        /* border: 2px red solid; */

        color: aliceblue;

        & h4 {
            margin: 0px 0px 20px 0px;
            font-weight: 600;
            font-size: 16px;
        }

        & p {
            font-size: 14px;
            font-weight: 200;
            width: 90%;
            max-width: 330px;
            margin-bottom: 13px;
        }
    }
}

@media (max-width : 500px) {
    .Home_Sectine3_carrossel_card_keynote {
        flex-direction: column;
        gap: 25px;
        padding: 18px 18px 5px 18px;
        height: auto;
        width: 90%;
        max-width: 335px;
    }
}

@media (max-width : 330px) {
    .Home_Section3_carrossel_card_keynote_parte_esquerda {
        gap: 12px;

        & li {
            gap: 7px;

            & img {
                width: 20px;
                height: auto;
            }
        }

        & img {
            width: 80%;
        }
    }
}