.datas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;
  width: 1100px;
}

.painel_de_datas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.datas_palestras {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  border: 2px rgb(0, 0, 0) solid;
  padding: 20px 30px;
  width: 100%;
  font-family: "Cascadia Mono", sans-serif;
}

.datas_palestras.ativo {
  background-color: black;
  color: aliceblue;
}

.todas_palestras {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;

  width: 100%;
}

.card_palestra {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  padding: 25px;
  gap: 20px;

  width: 100%;
  border: red 2px solid;
}

.card_palestra_infos_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.card_palestra_infos_1_horario,
.card_palestra_infos_1_duracao,
.card_palestra_infos_1_nivel {
  padding: 5px 12px;
  border-radius: 30px;
  border: 1px black solid;
  color: aliceblue;
  color: black;
  font-family: "Inter", sans-serif;
}
.card_palestra_infos_1_atividade {
  padding: 5px 12px;
  border-radius: 30px;
  background-color: black;
  color: aliceblue;
  font-family: "Inter", sans-serif;
}

.card_palestra_infos_2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 5px;
  font-family: "Cascadia Mono", sans-serif;
}

.card_palestra_infos_3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
  font-family: "Inter", sans-serif;
}

.card_palestra_infos_3_fotos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;

  /* border: red 2px solid; */
  & img {
    margin-left: -5px;
  }
}

.card_palestra_infos_3_nomes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}