.Faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

    width: 100%;

    padding: 70px 0px;
    background-color: #0f0f0f;

    & h3 {
        color: aliceblue;
        font-family: "Cascadia Mono", sans-serif;
        font-size: 26px;
        text-align: center;
    }
}

.Faq_itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;

    margin-bottom: 70px;
}